@model Employee_Directory.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<div class="text-center bg-dark text-white mt-2 p-2">
    <h3>Delete Employee</h3>
</div><hr />
@*<div class="align-items-center justify-content-center">*@
<div class="row vh-auto">
    <div class="d-flex col-12 text-center">
        <div class="col-md-6 border border-2 border-primary bg-white">
            <div class="border border-2 border-primary bg-primary text-white text-center">
                <h3>Employee</h3>
            </div><br />
            <form method="post">
                <input type="hidden" asp-for="EmployeeID" />
                <div class="text-dark bg-white text-align-left"> 
                    <p class="text-dark">Are you sure,you want to delete this?</p>
                </div>
                <div class="form-group row border border-2 border-primary ms-2 me-2 bg-white">
                  <label asp-for="EmployeeName" class="col-sm-4 border border-primary bg-secondary text-dark">EmployeeName</label>
                  <div class="col-sm-8 border border-primary bg-primary">
                    <input asp-for="EmployeeName" class="form-control form-control-sm m-0" disabled>
                    <span asp-validation-for="EmployeeName" class="text-danger"></span>
                  </div>
               </div>
               <div class="form-group row border border-2 border-primary ms-2 me-2 bg-white">
                  <label asp-for="EmployeeTitle" class="col-sm-4 border border-primary bg-secondary">EmployeeTitle</label>
                  <div class="col-sm-8 border border-primary bg-primary">
                    <input asp-for="EmployeeTitle" class="form-control form-control-sm m-0" disabled>
                    <span asp-validation-for="EmployeeTitle" class="text-danger"></span>
                  </div>
               </div>
               <div class="form-group row border border-2 border-primary ms-2 me-2 bg-white">
                  <label asp-for="Email" class="col-sm-4 border border-primary bg-secondary">Email</label>
                  <div class="col-sm-8 border border-primary bg-primary">
                    <input asp-for="Email" class="form-control form-control-sm m-0" disabled>
                    <span asp-validation-for="Email" class="text-danger"></span>
                  </div>
               </div>
               <div class="form-group row border border-2 border-primary ms-2 me-2 bg-white">
                  <label asp-for="Login" class="col-sm-4 border border-primary bg-secondary">Login</label>
                  <div class="col-sm-8 border border-primary bg-primary">
                    <input asp-for="Login" class="form-control form-control-sm m-0" disabled>
                    <span asp-validation-for="Login" class="text-danger"></span>
                  </div>
               </div>
               <div class="form-group row border border-2 border-primary ms-2 me-2 bg-white">
                  <div class="col-sm-12">
                    @Html.HiddenFor(model => model.Password,new{@Value=Model.Password})
                    @Html.ValidationMessageFor(model => model.Password)
                  </div>
               </div>
               <div class="form-group row border border-2 border-primary ms-2 me-2 bg-white">
                  <label asp-for="UserRoles" class="col-sm-4 border border-primary bg-secondary">Level</label>
                  <div class="col-sm-8 border border-primary bg-primary">
                    <input asp-for="UserRoles" class="form-control form-control-sm m-0" disabled>
                    <span asp-validation-for="UserRoles" class="text-danger"></span>
                  </div>
               </div>
               <div class="form-group row border border-2 border-primary ms-2 me-2 bg-white">
                  <label asp-for="Address" class="col-sm-4 border border-primary bg-secondary">Address</label>
                  <div class="col-sm-8 border border-primary bg-primary">
                    <input asp-for="Address" class="form-control form-control-sm m-0" disabled>
                    <span asp-validation-for="Address" class="text-danger"></span>
                  </div>
               </div>
               <div class="form-group row border border-2 border-primary ms-2 me-2 bg-white">
                  <label asp-for="WorkPhone" class="col-sm-4 border border-primary bg-secondary">Work Phone</label>
                  <div class="col-sm-8 border border-primary bg-primary">
                    <input asp-for="WorkPhone" class="form-control form-control-sm m-0" disabled>
                    <span asp-validation-for="WorkPhone" class="text-danger"></span>
                  </div>
               </div>
               <div class="form-group row border border-2 border-primary ms-2 me-2 bg-white">
                  <label asp-for="CellPhone" class="col-sm-4 border border-primary bg-secondary">Cell Phone</label>
                  <div class="col-sm-8 border border-primary bg-primary">
                    <input asp-for="CellPhone" class="form-control form-control-sm m-0" disabled>
                    <span asp-validation-for="CellPhone" class="text-danger"></span>
                  </div>
               </div>
               <div class="form-group row border border-2 border-primary ms-2 me-2 bg-white">
                  <label asp-for="HomePhone" class="col-sm-4 border border-primary bg-secondary">Home Phone</label>
                  <div class="col-sm-8 border border-primary bg-primary">
                    <input asp-for="HomePhone" class="form-control form-control-sm m-0" disabled>
                    <span asp-validation-for="HomePhone" class="text-danger"></span>
                  </div>
               </div>
               <div class="form-group row border border-2 border-primary ms-2 me-2 bg-white">
                  <label asp-for="DepartmentID" class="col-sm-4 border border-primary bg-secondary">Department</label>
                  <div class="col-sm-8 border border-primary bg-primary">
                     <input asp-for="DepartmentID" class="form-control form-control-sm m-0" disabled>
                    <span asp-validation-for="DepartmentID" class="text-danger"></span>
                  </div>
               </div>
                <div class="text-end m-2">
                   <button type="submit" asp-action="Delete" class="btn btn-dark text-white">Delete</button>
                   <div class="btn btn-dark text-white"> 
                       @Html.ActionLink("Cancel","Index","Employee", new{@class="text-white"}) 
                   </div>
               </div>
            </form>
        </div>  
        <div class="col-md-6 text-end">
            <img src="~/images/@Model.ProfileImage"   
                               class="rounded-circle"   
                               height="80" width="80"   
                               asp-append-version="true" />
        </div>
    @*</div>*@
</div>
</div>


@*

<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRoles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRoles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomePhone)
        </dd>
       <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>
    </dl>
    
    <form asp-action="Delete" >
        <input type="hidden" asp-for="EmployeeID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

*@